# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv
*.env

backend/uploads
backend/vectordb

problems.txt

job-bot-469222-cba5a3280d11.json

client_secret_570750770941-l7rh6o5o3cdq1j000eeuud3mtg9cs4pn.apps.googleusercontent.com.json
